<h1 style="    text-align: center;">My Audio Dips</h1>


<div *ngFor="let audio of audioFiles" style="padding-top: 10px;">

<mat-card>
        <mat-card-header>

          <mat-card-title>
              <a [routerLink]="['/player/audio.id']">              {{audio.title}}
              </a>

          </mat-card-title>

        </mat-card-header>
        <mat-card-actions>
          <button (click)="copy(audio.id)" mat-button>Share</button>
          <button (click)="delete(audio.id)" mat-button  >Delete</button>
        </mat-card-actions>
    </mat-card>

</div>

<div  *ngIf="!hasFile"> 
     <span>Please      <a [routerLink]="['/upload']" class="btn btn-secondary" id="homebutton"> Upload </a> an audio file.</span>



</div>

