<form (ngSubmit)="register()" #f="ngForm">
<div class="main-container">


    
    <mat-form-field>
        <input matInput placeholder="Username"
        class="form-control"
        ngModel
        required
        #username="ngModel"
        name="username">
        <span *ngIf="!username.valid && username.touched">Please enter a valid email.</span>
      </mat-form-field>






    <mat-form-field>
    <input matInput placeholder="Email"
    class="form-control"
    ngModel
    email
    required
    #email="ngModel"
    name="email">
    <span *ngIf="!email.valid && email.touched">Please enter a valid email.</span>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Enter your password" 
    class="form-control"
    ngModel
    required
    name="password"
    [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
    <mat-form-field>
    <input matInput placeholder="Confirm your password" 
    class="form-control"
    ngModel
    required
    name="confirmPassword"
    [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <span>{{error}}</span>
  <button type="submit" 
  class="btn btn-secondary"
  [disabled]="!f.valid"
  >Register</button>

</div>

</form>