/* You can add global styles to this file, and also import other style files */


@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

html, body { height: 100%; }
body { 
    
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color:gainsboro;

}



.main-container {
    display: flex;
    flex-direction: column;
  }
  
  .main-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  