

    <form #f="ngForm">
        <div class="main-container">
  <mat-form-field>
          <input matInput placeholder="Title"
          class="form-control"
          ngModel 
          required
          name="Title">
  </mat-form-field>




    <input #imageInput
           type="file"
           class="form-control"
           accept="audio/*"
           (change)="processFile($event)"
           [disabled]="!f.valid">
          </div>
  
</form>

<mat-progress-bar *ngIf="val > 0" mode="determinate" value="{{ val }}"></mat-progress-bar>

 